@model MyProject
@{
    ViewData["Title"] = "CreateMyProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">
        <label>Görsel</label>
        <input type="text" asp-for="ImageURL" class="form-control" />
        <br />
        <button class="btn btn-outline-success">Ekle</button>
    </form>
</div>

