@model Profile
@{
    ViewData["Title"] = "UpdateProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<form method="post">
    <label>Profile ID</label>
    <input type="text" asp-for="ProfileID" class="form-control" />
    <br />
    <label>Ad Soyad</label>
    <input type="text" asp-for="NameSurname" class="form-control" />
    <br />
    <label>Başlık 1</label>
    <input type="text" asp-for="Title1" class="form-control" />
    <br />
    <label>Başlık 2</label>
    <input type="text" asp-for="Title2" class="form-control" />
    <br />
    <label>Başlık 3</label>
    <input type="text" asp-for="Title3" class="form-control" />
    <br />
    <label>Görsel</label>
    <input type="text" asp-for="ImageURL" class="form-control" />
    <br />
    <button class="btn btn-success">Profil Güncelle</button>
</form>

