
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<title>Admin Paneli</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/sidebar-05/css/style.css">
</head>
<body>

	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">
			<div class="custom-menu">
				<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fa fa-bars"></i>
					<span class="sr-only">Toggle Menu</span>
				</button>
			</div>
			<div class="p-4">
				<h1><a href="index.html" class="logo">MongoDB <span>Admin Paneli</span></a></h1>
				<ul class="list-unstyled components mb-5">
					<li class="active">
						<a href="/Profile/Index/"><span class="fa fa-home mr-3"></span> Profil</a>
					</li>
					<li>
						<a href="/About/Index/"><span class="fa fa-user mr-3"></span> Hakkımda</a>
					</li>
					<li>
						<a href="#"><span class="fa fa-briefcase mr-3"></span> Works</a>
					</li>
					<li>
						<a href="/ProjectDetail/Index/"><span class="fa fa-sticky-note mr-3"></span> Proje Detay</a>
					</li>
					<li>
						<a href="/Skill/Index/"><span class="fa fa-suitcase mr-3"></span> Yetenekler</a>
					</li>
					<li>
						<a href="/Service/Index/"><span class="fa fa-cogs mr-3"></span> Hizmetler</a>
					</li>
					<li>
						<a href="#"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
					</li>
				</ul>

				

				<div class="footer">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>

			</div>
		</nav>

		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5">
			@RenderBody()
		</div>
	</div>

	@* <script src="~/sidebar-05/js/jquery.min.js"></script> *@
	<script src="~/sidebar-05/js/popper.js"></script>
	<script src="~/sidebar-05/js/bootstrap.min.js"></script>
	<script src="~/sidebar-05/js/main.js"></script>
</body>
</html>