@model Contact
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="container">
    <form method="post">
        <label>Adres</label>
        <input type="text" asp-for="Address" class="form-control" />
        <br />
        <label>Telefon Numarası</label>
        <input type="text" asp-for="Phone" class="form-control" />
        <br />
        <label>Mail Adresi</label>
        <input type="text" asp-for="Mail" class="form-control" />
        <br />
        <button class="btn btn-outline-success">Ekle</button>
    </form>
</div>

