
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


    @await Component.InvokeAsync("_ProfileComponentPartial")
 
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                @await Component.InvokeAsync("_AboutComponentPartial")
               @await Component.InvokeAsync("_ProjectDetailComponentPartial")
            </div>
        </div>
    </div>

                @await Component.InvokeAsync("_SkillComponentPartial")
               @await Component.InvokeAsync("_ExperienceComponentPartial")
                        @await Component.InvokeAsync("_EducationComponentPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @await Component.InvokeAsync("_ServiceComponentPartial")

    @await Component.InvokeAsync("_MyProjectComponentPartial")



    <!-- Testimonial Start -->
   @await Component.InvokeAsync("_TestimonialComponentPartial")
  
    <div class="container-xxl pb-5" id="contact">
        <div class="container py-5">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                <h1 class="display-5 mb-0">Birlikte Çalışalım</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" href="">Merhaba De</a>
                </div>
            </div>
            <div class="row g-5">
                @await Component.InvokeAsync("_ContactComponentPartial")
                <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <p class="mb-4">Benimle iletişime geçmnek için aşağıdaki bilgileri doldurup gönderebilirsiniz.</p>
                @await Html.PartialAsync("~/Views/Default/SendMessage.cshtml")

                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_MapComponentPartial")

    




