
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}




    <!-- Header Start -->
    <div class="container-fluid bg-light my-6 mt-0" id="home">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                    <h3 class="text-primary mb-3">Ben</h3>
                    <h1 class="display-3 mb-3">Enes Ertaş</h1>
                    <h2 class="typed-text-output d-inline"></h2>
                    <div class="typed-text d-none">Bilgisayar Mühendisi,Asp.Net Core, Asp.Net MVC</div>
                    <div class="d-flex align-items-center pt-5">
                        <a href="" class="btn btn-primary py-3 px-4 me-5">CV İndir</a>
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/watch?v=HXKnDUb06iw&list=PLKnjBHu2xXNNkinaVhPqPZG0ubaLN63ci" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="ms-4 mb-0 d-none d-sm-block">Video Oynat</h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/proman-1.0.0/img/resim.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-5">
                        <div class="years flex-shrink-0 text-center me-4">
                            <h1 class="display-1 mb-0">1</h1>
                            <h5 class="mb-0">Yıldır</h5>
                        </div>
                        <h3 class="lh-base mb-0">Asp .Net Core & Asp .Net MVC üzerine çalışıyorum</h3>
                    </div>
                    <p class="mb-4">1 senedir asp.net core ve mvc üzerine çeşitli web tabanlı projeler geliştirerek bu alanda kendimi geliştiriyorum.</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Asp .Net Core</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>MSSQL-MONGODB</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Python</p>
                    <a class="btn btn-primary py-3 px-5 mt-3" href="">Devamını Oku</a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3 mb-4">
                        <div class="col-sm-6">
                        <img class="img-fluid rounded" src="~/proman-1.0.0/img/about-1.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                        <img class="img-fluid rounded" src="~/proman-1.0.0/img/about-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="border-end pe-3 me-3 mb-0">Tamamlanan Projeler</h5>
                        <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">30</h2>
                    </div>
                    <p class="mb-4">Bugüne kadar tamamladığım yazılım projesi sayısı.</p>
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="border-end pe-3 me-3 mb-0">Mutlu Müşteriler</h5>
                        <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">30</h2>
                    </div>
                    <p class="mb-0">Projelerimden memnun kalan müşteri sayısı.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Expertise Start -->
    <div class="container-xxl py-6 pb-5" id="skill">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-5">Beceriler & Deneyim</h1>
                    <p class="mb-4">Yazılımdaki ilgili yeteneklerim ve becerilerim.</p>
                    <h3 class="mb-4">Yeteneklerim</h3>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">C#</h6>
                                    <h6 class="font-weight-bold">70%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Asp.Net Core</h6>
                                    <h6 class="font-weight-bold">70%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Asp.Net MVC</h6>
                                    <h6 class="font-weight-bold">65%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Python</h6>
                                    <h6 class="font-weight-bold">40%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">MSSQL</h6>
                                    <h6 class="font-weight-bold">75%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">MongoDB</h6>
                                    <h6 class="font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                        <li class="nav-item w-50">
                            <button class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Deneyim</button>
                        </li>
                        <li class="nav-item w-50">
                            <button class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Eğitim</button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row gy-5 gx-4">
                                <div class="col-sm-6">
                                    <h5>Full Stack Developer</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2023-Devam etmekte</p>
                                    <h6 class="mb-0">M&Y Yazılım Akademi </h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Stajyer</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2023 Ağustos - Eylül</p>
                                    <h6 class="mb-0">Adapha Yazılım</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Web Geliştirici</h5>
                                    <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2023-Devam etmekte</p>
                                    <h6 class="mb-0">Freelancer</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Masaüstü Uygulamalar</h5>
                                    <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2023-Devam etmekte</p>
                                <h6 class="mb-0">Freelancer</h6>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row gy-5 gx-4">
                                <div class="col-sm-6">
                                    <h5>Lise</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2015 - 2019</p>
                                <h6 class="mb-0">Alibeyköy Anadolu Lisesi</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Üniversite</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2020 - Devam etmekte</p>
                                    <h6 class="mb-0">Atatürk Üniversitesi</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Bootcamp</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2023 - Devam etmekte</p>
                                    <h6 class="mb-0">M&Y Yazılım Akademi </h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Python Programlama</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2022 Ocak - Mart</p>
                                    <h6 class="mb-0">BTK Akademi</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Expertise End -->


    <!-- Service Start -->
    <div class="container-fluid bg-light my-5 py-6" id="service">
        <div class="container">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">Hizmetlerim</h1>
                </div>
                
            </div>
            <div class="row g-4">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fa fa-crop-alt fa-2x text-dark"></i>
                        </div>
                        <div class="ms-sm-4">
                            <h4 class="mb-3">Masaüstü Uygulama</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fa fa-code-branch fa-2x text-dark"></i>
                        </div>
                        <div class="ms-sm-4">
                            <h4 class="mb-3">Asp .Net Core</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fa fa-code fa-2x text-dark"></i>
                        </div>
                        <div class="ms-sm-4">
                            <h4 class="mb-3">Asp .Net MVC</h4>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fa fa-laptop-code fa-2x text-dark"></i>
                        </div>
                        <div class="ms-sm-4">
                            <h4 class="mb-3">MSSQL Veritabanı</h4>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Projects Start -->
    <div class="container-xxl py-6 pt-5" id="project">
        <div class="container">
            <div class="row g-5 mb-5 align-items-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">Projelerim</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <ul class="list-inline mx-n3 mb-0" id="portfolio-flters">
                        <li class="mx-3 active" data-filter="*">Tüm Projeler</li>
                        <li class="mx-3" data-filter=".first">Asp.Net Core</li>
                        <li class="mx-3" data-filter=".second">Asp.Net MVC</li>
                    </ul>
                </div>
            </div>
            <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-4 col-md-6 portfolio-item first">
                    <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="~/proman-1.0.0/img/project-1.jpg" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="~/proman-1.0.0/img/project-2.jpg" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item first">
                    <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="~/proman-1.0.0/img/project-3.jpg" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="~/proman-1.0.0/img/project-4.jpg" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item first">
                    <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="~/proman-1.0.0/img/project-5.jpg" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-5.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="~/proman-1.0.0/img/project-6.jpg" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-6.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects End -->


    <!-- Team Start -->
   


    <!-- Testimonial Start -->
    <div class="container-fluid bg-light py-5 my-5" id="testimonial">
        <div class="container-fluid py-5">
            <h1 class="display-5 text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Referanslar</h1>
            <div class="row justify-content-center">
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="testimonial-left h-100">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="~/proman-1.0.0/img/testimonial-1.jpg" alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src="~/proman-1.0.0/img/testimonial-2.jpg" alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src="~/proman-1.0.0/img/testimonial-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="~/proman-1.0.0/img/testimonial-1.jpg" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                        <p class="fs-5 fst-italic">
                            "Enes, yazılım projelerine getirdiği yenilikçi bakış açısıyla öne çıkıyor. İşbirliği sırasında problem çözme yetenekleri ve zamanında teslimatıyla etkileyici bir performans sergiledi."

                        </p>
                            <hr class="w-25 mx-auto">
                            <h5>Beyza Nur</h5>
                            <span>Ziraat Mühendisi</span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="~/proman-1.0.0/img/testimonial-2.jpg" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                        <p class="fs-5 fst-italic">"Ali, yazılım projelerindeki ustalığı ve etkileyici problem çözme becerisiyle dikkat çekiyor. İşbirliği sırasında gösterdiği profesyonellik ve zamanında teslimatıyla öne çıkıyor."</p>
                            <hr class="w-25 mx-auto">
                            <h5>Muhammed</h5>
                            <span>Tekstil Mühendisi</span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="~/proman-1.0.0/img/testimonial-3.jpg" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                        <p class="fs-5 fst-italic">"Yazılım konusundaki bilgisi ve özgün çözümleriyle Dolores, projemize önemli bir değer kattı. İşbirliği sırasında iletişimi ve hızlı adaptasyonuyla takdir topladı."</p>
                            <hr class="w-25 mx-auto">
                            <h5>Kaan</h5>
                            <span>Makine Mühendisi</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="testimonial-right h-100">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="~/proman-1.0.0/img/testimonial-1.jpg" alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src="~/proman-1.0.0/img/testimonial-2.jpg" alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src="~/proman-1.0.0/img/testimonial-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Contact Start -->
    <div class="container-xxl pb-5" id="contact">
        <div class="container py-5">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                <h1 class="display-5 mb-0">Birlikte Çalışalım</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" href="">Merhaba De</a>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="mb-2">Ofisim:</p>
                    <h3 class="fw-bold">Cumhuriyet, Sultangazi, İstanbul</h3>
                    <hr class="w-100">
                    <p class="mb-2">Beni arayın:</p>
                    <h3 class="fw-bold">+5414589625</h3>
                    <hr class="w-100">
                    <p class="mb-2">Bana Mail Atın:</p>
                    <h3 class="fw-bold">info@example.com</h3>
                    <hr class="w-100">
                    <p class="mb-2">Beni Takip Edin:</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <p class="mb-4">Benimle iletişime geçmnek için aşağıdaki bilgileri doldurup gönderebilirsiniz.</p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Ad Soyad">
                                    <label for="name">Ad Soyad</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="E-Mail adresiniz">
                                    <label for="email">E-Mail adresiniz</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Konu">
                                    <label for="subject">Konu</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="mesaj" id="message" style="height: 100px"></textarea>
                                    <label for="message">Mesaj</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-5" type="submit">Mesaj Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Map Start -->
    <div class="container-xxl pt-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container-xxl pt-5 px-0">
            <div class="bg-dark">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                frameborder="0" style="width: 100%; height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <!-- Map End -->


    




