@model Testimonial
@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<div class="container">
    <form method="post">
        <label>Ad Soyad</label>
        <input type="text" asp-for="NameSurname" class="form-control" />
        <br />

        <label>Başlık</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <label>Yorum</label>
        <input type="text" asp-for="Comment" class="form-control" />
        <br />
        <label>Görsel</label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <br />
        <button class="btn btn-outline-success"><i class="fas fa-save"></i>Ekle</button>
    </form>
