@model Testimonial
@{
    ViewData["Title"] = "TestimonialDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="col-lg-12 col-md-12">
    <div class="card table-card review-card">
        <div class="card-body pb-0">
            <div class="review-block">

                <div class="row">
                    <div class="col-sm-auto p-r-0">
                        <img src="@Model.ImageUrl" alt="user image" class="img-radius profile-img cust-img m-b-15">
                    </div>
                    <div class="col">
                        <h6 class="m-b-15">@Model.NameSurname<span class="float-right f-13 text-muted"></span></h6>
                        <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                        <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                        <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                        <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                        <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                        <p class="m-t-15 m-b-15 text-muted">@Model.Comment</p>
                        <a href="#!"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
                        <a href="#!"><i class="feather icon-edit text-muted"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
